#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  text-align: center;
  border: solid 1px #c2c2c2;
  padding-bottom: 10px;
  margin: auto;
  background: #fafafa;
}
input[type="textarea"] {
  display: flex;
  width: 75%;
  padding: 16px 32px;
  font-size: 16px;
  margin: 20px auto;
  border: 1px solid silver;
  border-radius: 1px;
  text-align: left;
  color: #333;
  background: #333;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  width: 17%;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
  text-align: center;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
#upperButton1:hover,
#upperButton2:hover,
#upperButton3:hover {
  background-color: #333;
}
#upperButton1,
#upperButton2,
#upperButton3 {
  background-color: crimson;
  padding: 5px;
  min-width: 15%;
  font-size: 12px;
}
a.shift {
  display: inline-block;
  margin: 0 2px;
  width: 17%;
  font-size: 13px;
}
#turningButtons {
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-left: 19px;
}
